@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background-image: url("../img/index/bg_main.png");
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*--- ページ基本デザイン ---*/
#header {
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px 0;
}

#header #logo {
	float: left;
}

#contact {
	float: right;
	padding: 40px 20px 0 0;
}

#contact p {
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}

#menu {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	background-image: url("../img/base/bg_wood.png");
}

#menu ul{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
}

#menu ul li {
	line-height: 40px;
	width: 160px;
	text-align: center;
	float: left;
}

#menu ul li a {
	color: #fff;
}

.line_space {
	width: 1000px;
	margin: 10px auto;
}

.menu_select_footer {
	width: 960px;
	margin: 10px auto;
}

.about {
	display: block;
	float: left;
	width: 300px;
	margin: 10px;
}

.footer_line_space {
	padding-top: 10px;
	margin: 10px auto;
}

.footer_space {
	width: 1000px;
	margin: 0 auto;
}

.picture {
  float: center;
  margin: 20px auto;
}

#all {
	background-color: #fff;
	width: 1000px;
	margin: 0 auto;
}

.line {
  width: 1000px;
  padding: 10px 0;
}

.center {
  display: block;
  margin: 0 auto;
}

.mt20 {
  margin-top: 20px;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

#nail_design {
  padding: 20px;
}

#nail_design img {
  float: left;
  margin: 20px 0;
}
